{% extends 'usuarios/base.html' %}

{% block conteudo %}
<div class="container">
    <h1 class='titulo-fichas'>Fichas</h1>
    <br>
    <table class="table table-bordered" style='background: linear-gradient(to bottom, #2E8B57, #006400);; color:white'>
        <tr>
            <th class='th-titulos'>N°</th>
            <th class='th-titulos'>Cliente</th>
            <th class='th-titulos'>Retiro</th>
            <th class='th-titulos'>Total</th>
            <th class='th-titulos'>Seña</th>
            <th class='th-titulos'>Saldo</th>
            <th class='th-titulos'>Acciones</th>
        </tr>
        {% for trabajo in trabajos %}
        <tr>
            <td>{{ trabajo.numero_trabajo}}</td>
            <td>{{ trabajo.nombre_cliente }}</td>
            <td>{{ trabajo.fecha_retiro }}</td>
            <td>${{ trabajo.total }}</td>
            <td>${{ trabajo.seña }}</td>
            <td>${{ trabajo.saldo }}</td>
            <td>
                <a href="{% url 'detalle_trabajo' trabajo.numero_trabajo %}">Ver Detalle</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}