{% extends 'usuarios/base.html' %}
    {% block conteudo %}
<div Class="container">
    <h1 style="text-align: center; margin: 0;">Fichas</h1>
    <br>
<table class="table table-bordered table-striped">
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>idade</th>
        <th>profissao</th>
        <th>nascimento</th>
        <th>plano_saude</th>
        <th>diagnostico</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.idade}}</td>
        <td>{{usuario.profissao}}</td>
        <td>{{usuario.nascimento}}</td>
        <td>{{usuario.plano_saude}}</td>
        <td>{{usuario.diagnostico}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}